{% extends "base.html" %}

{% block content %}
    {% for object in object_list %}
    <ul>
        {% if object.taker %}
            <li>{{ object.taker }} à prit le {{ object.scheduled_at }} -- {{ object.skill }} ({{ object.skill.category }})</li>
        {% else %}
            <li>Crénaux disponible pour le {{ object.scheduled_at }} -- {{ object.skill }} ({{ object.skill.category }}) -- Reserver</li>
        {% endif %}
    </ul>
    {% empty %}
        <li>No schedules yet.</li>
    {% endfor %}
{% endblock %}