{% extends "skillshare/base.html" %}

{% block content %}
    {% for object in object_list %}
    <ul>
        {% if not user.is_authenticated %}
            {% if object.taker %}
                <li>{{ object.user.slug }} et {{ object.taker.slug }} seront ensemble le {{ object.scheduled_at }} ({{ object.skill.category }}): {{ object.skill.name }} avec {{ object.skill.giver }}</li>
            {% else %}
                <li>Crénaux disponible pour le {{ object.scheduled_at }} -- {{ object.activity_description }} avec {{ object.user.slug }} -- <a href="{% url 'skillshare:schedule_take' object.id %}">Reserver</a></li>
            {% endif %}
        {% else %}
            {% if object.taker %} 
                <li>{{ object.user.first_name }} et {{ object.taker.first_name }} seront ensemble le {{ object.scheduled_at }} ({{ object.skill.category }}): {{ object.skill.name }} avec {{ object.skill.giver }}</li> 
            {% else %} 
            {% if object.is_request and not object.taker %}
                <li> {{ object.user.username }} à fait une demande le {{ object.scheduled_at }} ({{ object.skill.category }}): {{ object.skill.name }} avec {{ object.skill.giver }} -- <a href="{% url 'skillshare:schedule_take' object.id %}">Reserver</a></li> 
            {% else %}
                <li>Créneau disponible le {{ object.scheduled_at }} avec {{ object.user.username }} ({{ object.skill.category }}): {{ object.skill.name }} avec {{ object.skill.giver }} -- <a href="{% url 'skillshare:schedule_take' object.id %}">Reserver</a></li>
            {% endif %}
            {% endif %} 
        {% endif %}
    </ul>
    {% empty %}
        <li>Pas de créneaux pour l'instant..</li>
    {% endfor %}
{% endblock %}