{% extends "base.html" %}

{% block content %}
<div class="w-100 d-flex justify-content-between mb-3 flex-row flex-wrap px-0">
{% for category in object_list %}
    <div class="card shadow-lg mb-5 bg-body-tertiary rounded " style="width: 24rem;">
        <div class="card-header bg-secondary text-white">
            <h2>{{ category.name }}</h2><small>{{ category.description }}</small>
        </div>
        <div class="card-body">
            <ul class="list-group">
                {% for skill in category.skills.all %}
                    <li class="list-group-item ">
                        {{ skill.name }}
                    </li>
                {% empty %}
                    <li class="list-group-item">Aucun utilisateur avec cette compétence pour le moment...</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% empty %}
    <div class="alert alert-info">Aucune catégorie trouvée.</div>
    {% endfor %}
</div>
{% endblock %}