{% extends "skillshare/base.html" %}

{% block content %}
{% for category, skills in categories %}
    <div class="card mb-4">
        <div class="card-header">
            <h2>{{ category.name }}</h2><small>{{ category.description }}</small>
        </div>
        <div class="card-body">
            <ul class="list-group">
                {% for skill in skills %}
                    <li class="list-group-item">
                        {{ skill.name }} - 
                        {% if user.is_authenticated %}
                        {{ skill.giver.get_full_name }}
                        {% else %}
                        {{ skill.giver.slug }}
                        {% endif %}
                    </li>
                {% empty %}
                    <li class="list-group-item">Aucune compétence dans cette catégorie.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% empty %}
    <div class="alert alert-info">Aucune catégorie trouvée.</div>
{% endfor %}
{% endblock %}