<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillShare - Accueil</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'skillshare/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'skillshare/style.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <div>
                <a href="{% url "skillshare:index" %}">
                    <h1>SkillShare</h1>
                </a>
            </div>
        <div>
            <ul>
                {% if user.is_authenticated %}
                <li>Bonjour {{ user.email }}</li>
                {% else %}
                <li>Bonjour, vous n'êtes pas connecté.</li>
                {% endif %}
                <li>Accueil</li>
                <li>Mes services</li>
                <li>Les créneaux</li>
            </ul>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    </div>
</body>
</html>